@import '../variables/variables.scss';
@import '../variables/reset.scss';

.header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	&__subtitle {
		margin: 0;
		font-size: 27.5px;
		font-weight: 200;
		color: $grayish-blue;
	}
	&__title {
		margin: 0;
		font-size: 26px;
		color: $very-dark-blue;
	}
	&__description {
        max-width: 555px;
		font-size: 17px;
        color: $grayish-blue;
        margin-bottom: 70px;

	}
}
